#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color:white;
}

#navbar-title {
  font-family: Georgia, 'Times New Roman', Times, serif;

  /* line-height: 80px; */
}

#navbar {
  display: flex;
  justify-content: space-evenly;

}

#navbar ul {
  float: right;
}

#navbar a {
  display: flex;
  flex-direction: row;
  float: left;
  margin-right: 2em;
  line-height: 60px;
}

#video-card-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid black;
}

#single-video-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid black;
}
