/* COLORS

rgb(249, 236, 218) (tan)
rgb(69, 2, 69) (dark purple)
rgb(219, 206, 219) (light purple)
white
*/


* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: auto;
  background-size: cover;
  font-family: sans-serif;
  background-color:  rgb(249, 236, 218);

  /* background-image: linear-gradient(19deg, #FFE26A */
  /* 0%, #ABD699 100%); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;

}

#navbar-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  /* float: left; */
  /* line-height: 80px; */
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px 80px;
  background-color: white;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  border-bottom: solid 2px rgb(69, 2, 69);
}

#navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#navbar-links li {
  /* display: flex;
  flex-direction: column; */
  list-style: none;
	/* position: relative; */
	padding: 0 20px;
  display: inline-block;
}

#navbar-links li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color:rgb(69, 2, 69);
  transition: 0.3s ease-in-out;
  /* display: flex;
  justify-content: space-evenly;
  float: left; */
  /* margin-right: 2em;
  /* line-height: 100px; */
  /* padding: 10px;
  color: black;
  padding: 8px 15px;
	text-decoration: none;
	font-weight: bold; */
}

#navbar li a:hover {
  color: rgb(69, 2, 69);
  opacity: 0.5;
}

#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(69, 2, 69);
  position: absolute;
  bottom: -5px;
  /* /* left: 20px; */
}

.home-page-button {
  background-color: rgb(69, 2, 69);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.home-page-button:hover {
  color: rgb(69, 2, 69);
  background-color: rgb(219, 206, 219);
  margin: 5px;
  transition: 0.3s ease-in-out;

}

.search-name {
  font-weight: bold;
}

#search-bar {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* float: left; */
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  width: 20em;
  padding: 1em; */
}

#search-bar input[type=text] {
  width: 300px;
}

#video-card-container {
  /* display: flex; */
  display: inline-block;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  /* border-radius: 5px; */
  background-color: rgb(219, 206, 219);
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  padding: 1em;
}

img {
  height: 30vh;
}

#single-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  /* border-radius: 5px; */
  color: rgb(69, 2, 69);
  background-color: rgb(219, 206, 219);
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  width: 20em;
  padding: 1em;
}

  .card-button {
    /* visibility: hidden; */
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color:rgb(69, 2, 69);
    border-radius: 5px;
    border: none;
    padding: 10px;
  transition: 0.3s ease-in-out;

  }

  .card-button:hover {
    color: rgb(69, 2, 69);
    background-color: rgb(219, 206, 219);
    margin: 5px;
    transition: 0.3s ease-in-out;
    border: solid 2px rgb(249, 236, 218);
  }

  /* .card-button:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
  }

  .card:checked:before {
    content: "\2606";
    position: absolute;
  } */

.edit-video-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  width: 20em;
  padding: 1em;
  color: white;
  background-color: rgb(219, 206, 219);
}

.editing-video-form {
  display: flex;
}

.form-button {
  font-size: 15px;
    cursor: pointer;
    color: white;
    background-color:rgb(69, 2, 69);
    border-radius: 5px;
    border: none;
    padding: 10px;
  transition: 0.3s ease-in-out;
  margin: 10px;
}

.form-button:hover {
  color: rgb(69, 2, 69);
    background-color: rgb(219, 206, 219);
    margin: 5px;
    transition: 0.3s ease-in-out;
    border: solid 2px rgb(249, 236, 218);
}

.link-button {
  margin: 10px;
  border: none;
  background-color: rgb(249, 236, 218);
  transition: 0.3 ease-in-out;
}

.link-button:hover {
  margin:10px;
  border: solid 2px rgb(69, 2, 69);
  background-color: ;
  transition: 0.3 ease-in-out;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 20em;
  background-color: rgb(219, 206, 219);

}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 20em;
  background-color: rgb(219, 206, 219);

}

.link-btn {
  margin-top: 10px;

}

.new-video-container {
  float: left;
}

.new-video-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  width: 20em;
  padding: 1em;
  background-color: rgb(219, 206, 219);

}
