/* COLORS

rgb(249, 236, 218) (tan)
rgb(69, 2, 69) (dark purple)
rgb(219, 206, 219) (light purple)
white
rgb(255, 123, 0) (orange)
*/



* {
  box-sizing: border-box;
  /* margin: 0; */
}

#root {
  /* max-width: 1280px; */
  margin: 0px;

  text-align: center;
}

body {
  margin: 0px;
  background-size: cover;
  font-family: sans-serif;
  background-color:  white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
  overflow: scroll;
}

.main-container {
  margin-top: 100px;
}


/* HOME PAGE */

.home-page-button {
  background-color: rgb(69, 2, 69);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  /* transition: 0.3s ease-in-out; */
}

.home-page-button:hover {
  color: rgb(69, 2, 69);
  background-color: rgb(219, 206, 219);
  margin: 5px;
  /* transition: 0.2s ease-in-out; */

}

.home-page-button:active {
  border: solid 2px rgb(255, 123, 0);

}


/* VIDEO CARD */

.all-videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.25rem;
  width: 100%;
  grid-auto-rows: 1fr;
}

#all-video-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(219, 206, 219);
    padding: 1em;
  margin: 10px;
}

img {
  height: 30vh;
}

.card-title {
text-transform: uppercase;
color: black;
}

#single-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  color: rgb(69, 2, 69);
  background-color: rgb(219, 206, 219);
  /* box-shadow: 0 5px 15px rgba(157, 93, 172, 0.5); */
  width: 50em;
  padding: 1em;
}

#single-video-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(219, 206, 219);
  padding: 1em;
  margin: 10px;
}

#video-card-button {
  margin-top: 20px;
}

.single-instructor-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  color: rgb(69, 2, 69);
  background-color: rgb(219, 206, 219);
  /* box-shadow: 0 5px 15px rgba(157, 93, 172, 0.5); */
  width: 50em;
  padding: 1em;
}


.class-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.25rem;
  grid-auto-rows: 1fr;
  width: 100%;
}



.class-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(219, 206, 219);
    padding: 1em;
  margin: 10px;
}

.class-title {
  text-transform: uppercase;
  font-weight: bold;
}

  .card-button {
    /* visibility: hidden; */
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color:rgb(69, 2, 69);
    border-radius: 5px;
    border: none;
    padding: 10px;
    transition: 0.3s ease-in-out;
    margin: 10px;
    text-transform: capitalize;

  }

  .card-button:hover {
    color: rgb(69, 2, 69);
    background-color: rgb(219, 206, 219);
    margin: 5px;
    transition: 0.3s ease-in-out;
    border: solid 2px rgb(249, 236, 218);
  }

  .card-button:active {
    border: solid 2px rgb(255, 123, 0)
  }


  /* PROFILE EXPANDED CONTENT */

  .profile-title {
    font-size: 1.5rem;
  }

  .expanded-content {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  color: rgb(69, 2, 69);
  background-color: rgb(219, 206, 219);
  /* box-shadow: 0 5px 15px rgba(157, 93, 172, 0.5); */
  width: 50em;
  padding: 1em;
  }

/* EDIT VIDEO FORM */

.edit-video-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  width: 20em;
  padding: 1em;
  /* color: white; */
  background-color: rgb(219, 206, 219);
  /* float: left;  */
}

.edit-button-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between!;
  align-items: center;
}

/* BUTTON STYLING */

.form-button {
  font-size: 15px;
    cursor: pointer;
    color: white;
    background-color:rgb(69, 2, 69);
    border-radius: 5px;
    border: none;
    padding: 10px;
  transition: 0.3s ease-in-out;
  margin: 10px;
}

.form-button:hover {
  color: rgb(69, 2, 69);

    background-color: rgb(219, 206, 219);
    margin: 5px;
    transition: 0.3s ease-in-out;
    border: solid 2px rgb(255, 123, 0);
}


.link-button {
  margin: 10px;
  border: none;
  background-color: rgb(249, 236, 218);
  transition: 0.3 ease-in-out;
}

.link-button:hover {
  margin:10px;
  border: solid 2px rgb(255, 123, 0);
  /* background-color: rgb(69, 2, 69); */
  transition: 0.3 ease-in-out;
}

/* AUTH FORMS */

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 20em;
  background-color: rgb(219, 206, 219);

}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 20em;
  background-color: rgb(219, 206, 219);

}

.link-btn {
  margin-top: 10px;

}


.new-instructor-btn {
  border: none;

}

/* INSTRUCTOR PAGE */

#all-instructors-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(219, 206, 219);
    padding: 1em;
  margin: 10px;
}

.instructor-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* or other justify-content values */
  align-items: center;
}

.style-title {
  text-transform: capitalize;
  font-weight: bold;
}

/* FAVORITES */

.favorites-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  color: rgb(69, 2, 69);
  background-color: rgb(219, 206, 219);
  /* box-shadow: 0 5px 15px rgba(157, 93, 172, 0.5); */
  width: 50em;
  padding: 1em;
}

.favorite-video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.heart-container {
display: flex;
align-items: flex-start;
justify-content: space-between;
margin-left: auto;
margin-top: 20px;
position: relative;
padding: 20px;

}

.heart-button {
  position: absolute;
  /* color: #95BF74; */
  cursor: pointer;
  width: 36px;
  height: 36px;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}

.favorite-text {
  color: #9fd5cc;
  opacity: 0;
  transition: 0.3s;
  font: 12px;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-77%);
}

.heart-button:hover+.favorite-text {
  opacity: 1;
  color: rgb(69, 2, 69);
}

.fav-class {
  text-transform: uppercase;
}

.empty-favorites-title {
  color: rgb(69, 2, 69);
}

.empty-favorites-page {
  /* background-color: rgb(219, 206, 219); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid rgb(208, 205, 205);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  width: 25%;
  padding: 1em;
  box-sizing: border-box;
}

/* Instructor Form Popup */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ensure it appears on top of other content */
}

/* CSS for the popup content */
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%; /* adjust as needed */
}

/* Close button within the popup */
.popup-content .card-button {
  background-color: rgb(69, 2, 69);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.single-instructor-title {
  text-align: center;
  margin: 3rem;
}

.class-level {
  color: rgb(255, 123, 0);
}
